.loader {
   width: 100%;
   background-blend-mode: luminosity;
   overflow: hidden;
}

.spinner {
   -webkit-animation: body 2s;
   animation: body 2s 2s forwards;
   cursor: wait;
   position: absolute;
   background: white;
   width: 100%;
   z-index: 9;
   opacity: 1;
   -webkit-animation-timing-function: cubic-bezier(1, .44, .61, 1.01);
   animation-timing-function: cubic-bezier(.6, .38, .88, .66);
}

.spinner::before, .spinner::after {
   padding: 25px;
   background: transparent;
   position: absolute;
   margin-left: 35%;
   margin-top: 40%;
   content: "";
   border: 40px solid transparent;
   border-radius: 50%;
   border-color: #9356DC #9356DC #0000 #0000;
   mix-blend-mode: darken;
   animation: spinner 2s linear;
   animation-iteration-count: 2;
   animation-fill-mode: both;
   animation-direction: alternate;
}

.spinner::after {
   border-color: #0000 #0000 #ff79da #ff79da;
   animation-direction: reverse;
   animation-duration: 2s;
}

@keyframes body {
   0% {
      opacity: 1;
   }
   100% {
      opacity: 0;
   }
}

@keyframes spinner {
   0% {
      opacity: 1;
      visibility: hidden;
   }
   100% {
      opacity: 1;
      transform: rotate(2turn);
      visibility: visible;
      overflow: hidden;
   }
}

body .mainpage {
   animation-name: fadein;
   animation-duration: 3s;
 }

 @keyframes fadein {
   0% {
     opacity: 0.1;
     ;
   }

   100% {
     opacity: 0.1;
   }
 }